   .logo{
         height: 100px;
         width: 100px;       
       }
       
   .formulario {
         background: lightskyblue;
         height: 100px;
         width: 100px; 
         position: static; 
   }
   

   .estrada{
      width:1200px;
      height:1000px;
      height: auto;
      margin: auto;
      display: block;
      border-radius: 100%;
      position: absolute;
      text-align: center;
   }

body
{
   background: -webkit-linear-gradient(left, #50d9cd, #3a9bc7);
   background: -moz-linear-gradient(left, #50d9cd, #3a9bc7);
   background: -ms-linear-gradient(left, #50d9cd, #3a9bc7);
   background: -o-linear-gradient(left, #50d9cd, #3a9bc7);
   background: linear-gradient(to right, #50d9cd, #3a9bc7);  
   margin: 0%;
}

.profile_photo{
   width: 300px!important;
   height: 150px!important;
   border-radius: 30%;
   max-width:150px;
   max-height:100px;
   width: auto;
   height: auto;
}

.github{
   width:100px;
   height:100px;
}

.instagram{
   width:100px;
   height:100px;
}

footer{
   width: 100%;
   position: absolute;
   bottom: 0;
   background: #ed5a0e;
   color: #ffffff;
   text-align: center;
}